{
	"native": {
		"path_ignore": []
	},
	"publish": {
		"web": 0,
		"native": 1,
		"path": "bin-release"
	},
	"egret_version": "5.2.7",
	"template": {},
	"eui": {
		"exmlRoot": "resource/skin",
		"autoGenerateExmlsList": true,
		"themes": [
			"resource/gameshare.thm.json"
		],
		"exmlPublishPolicy": "commonjs2"
	},
	"modules": [
		{
			"name": "egret"
		},
		{
			"name": "game"
		},
		{
			"name": "assetsmanager"
		},
		{
			"name": "eui"
		},
		{
			"name": "tween"
		},
		{
			"name": "socket"
		},
		{
			"name": "dragonBones"
		},
		{
			"name": "promise"
		},
		{
			"name": "uniLib",
			"path": "../../../libsrc/uniLib-dev"
		},
		{
			"name": "wxgamelib",
			"path": "../../../wxgame/wxgamelib"
		},
		{
			"name":"loading",
			"path":"../loading"
		},
		{
			"name":"protoandtable",
			"path":"../protoandtable"
		},
		{
			"name":"confirm",
			"path":"../confirm"
		}
	],
	"engineVersion": "5.2.8",
	"compilerVersion": "5.2.8"
}